:root {
    --black: #4D4C59;
    --purple: #6C63FF;
    --light-grey: #C8C8C8;
    --text-color: #9C9AB6;
}
html {
    height: 100%;
}
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

/* Top and Bottom images */
.images{
    position: absolute;
    width: 100%;
}
.top-image{
    top: 0px;
}
.bottom-image{
    bottom: 0px;
}

/* Sections */
.sections{
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100% !important;
    height: 100vh;
    width: 100%;
}
.text-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.text-section div h2{
    color: var(--purple);
    text-transform: uppercase;
    
    font-size: 36px;
    letter-spacing: 0.105em;
    font-weight: bold;
}

.text-section div p{
    color: var(--text-color);
    font-size: 16px;
    font-weight: lighter;
    margin-top: 20px;

}
.text-section div button{
    background-color: var(--purple);
    color: white;
    font-weight: lighter;
    font-size: 20px;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    margin-top: 40px;
    
}
.text-section div table{
    margin-top: 15px;
    flex-direction: column;
}
.text-section div table thead, .text-section div table tbody{
    flex-direction: row;
}
.text-section div table, .text-section div table thead, .text-section div table tbody{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;        
    width: 100%;
}

.text-section div table thead tr, .text-section div table tbody tr{
    text-align: center;        
    width: 100%;
    display: flex;
    justify-content: center;

}
.text-section div table thead tr th{
    font-weight: 100;
    color: var(--light-grey);
    font-size: 16px;
}
.text-section div table tbody tr td h3{
    font-weight: 500;
    color: var(--black);
    font-size: 72px;
}

.image-section img{
    width: 70vh;
}